__pycache__/
*.pyc
*.ipynb_checkpoints
.DS_Store
*.h5
*.hdf
*.nc
tmp-data/
test-install*/
er3t-dev/
er3t/tmp-data/
er3t/**/__pycache__/
er3t/**/*.pyc
er3t/**/*.pk
EOF
er3t/
teaching-branch-setup/*.patch
